* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    max-width: 1120px;
    width: 90vw;
    margin: 64px auto;
    display: flex;
    gap: 1.5rem;
}

.search-container {
    padding: 0.5rem;
    background-color: #E2E8F0;
    border-radius: 4px;
    max-width: 166px;
    overflow: hidden;
}

.search-container input {
    border: none;
    outline: none;
    background-color: inherit;
    letter-spacing: 1px;
}

.company {
    margin: 1.5rem 0 0.5rem;
    color: #0F172A;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 1px;
}

.categories {
    list-style: none;
    padding: unset;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-transform: capitalize;
}

.categories li {
    color: #64748B;
    font-style: 0.8rem;
    cursor: pointer;
    font-weight: 300;
}

.products-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    text-align: center;
}

.card img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 4px;
    height: 10rem;
}

.title {
    font-size: 13.6px;
    color: #64748B;
    margin-bottom: 0.25rem;
    margin-top: unset;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.price {
    color: #334155;
    font-weight: 700;
    font-size: 0.85rem;
}

@media (max-width: 1170px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 740px) {
    main {
        flex-direction: column;
    }

    .products-container {
        grid-template-columns: auto;
    }

    .card img {
        height: 15rem;
    }
}